.popup-tab {
  font-size: large;
  height: 40px;
  background-color: white;
  margin: 5px 0;
}
.popup-tab:hover {
  background-color: lightgray;
}

.popup-tab-selected {
  background-color: lightgray;

}
.popup-tab-selected p{
  color: rgb(255, 97, 121);
}
.popup-warning-text {
  color:rgb(255, 97, 121);
}
.received-time {
  color: rgb(106, 111, 130);
}
.received-message {
  color: rgb(87, 87, 87);
}
.room-link {
  text-decoration: none;
}
.unreply-item {
  transform: scale(1.5);
}