.sidebar {
  width: 165px;
}

.sidebar img {
  margin-right: 5px;
}

.MainContents {
  padding-left: 10px;
  font-size: 90%;
}

.managementNotification {
  font-size: 85%;
}

.popup-tab {
  font-size: large;
  height: 40px;
  background-color: white;
  margin: 5px 0;
}

.popup-tab:hover {
  background-color: lightgray;
}

.popup-tab-selected {
  background-color: lightgray;

}

.popup-tab-selected p {
  color: rgb(255, 97, 121);
}

.popup-warning-text {
  color: rgb(255, 97, 121);
}

.received-time {
  color: rgb(106, 111, 130);
}

.received-message {
  color: rgb(87, 87, 87);
}

.room-link {
  text-decoration: none;
}

.unreply-item {
  transform: scale(1.5);
}

.btn-flat {
  background-color: none;
}

.force-checked-toast {
  width: 300px;
}

.unreadToMessage::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(87, 202, 179);
  border: 2px solid rgb(235, 239, 244);
}

.unread-chatwork-room-li:hover {
  background-color: rgba(0,0,0,0.05);
}

.unreply-message-normal:hover {
  background-color: #F4F4F4;
}
.unreply-message-yellow {
  background-color: #FFF1E0;
}
.unreply-message-yellow:hover {
  background-color: #FFEED7;
}
.unreply-message-red {
  background-color: #FFDEE6;
}
.unreply-message-red:hover {
  background-color: #FFC3D2;
}
